{{/* layouts/partials/gear-articles.html */}}
{{ $gearPosts := where (where .Site.RegularPages "Section" "gear") "Params.expired" "ne" true }}

<section class="features">
  {{ range $gearPosts }}
  <article>
    {{ $post := . }} <!-- speichert die Page -->
    {{ with .Resources.GetMatch .Params.featured_image }}
    {{ $img := .Fill "800x800 top center" }}
    <a href="{{ $post.RelPermalink }}" class="image">
      <img src="{{ $img.RelPermalink }}" alt="{{ $post.Title }}">
    </a>
    {{ end }}


    <h3 class="major">{{ .Title }}</h3>
    <p style="margin-bottom:1em;">{{ .Summary }}</p>


    <a href="{{ .RelPermalink }}" class="special">Discover</a>
  </article>
  {{ end }}
</section>