{{ define "main" }}
<section class="wrapper">
  <div class="inner">
    <h2 class="major">All News</h2>

    <ul style="list-style: none; padding-left: 0;">
      {{ $today := now }}
      {{ $newsPosts := where .Site.RegularPages "Section" "news" }}  <!-- nur echte Pages -->
      {{ $newsPosts = sort $newsPosts "Date" "desc" }}

      {{ range $newsPosts }}
        {{ $expiryStr := index .Params "expiry-date" }}
        {{ $expiry := cond $expiryStr ($expiryStr | time) nil }}
        <li style="margin-bottom: 1em; display: flex; align-items: flex-start;">
          <span style="background: #FFA500; width: 10px; height: 10px; display: inline-block; margin-right: 0.8em; margin-top: 0.5em; border-radius: 50%; flex-shrink: 0;"></span>
          <div>
            <a href="{{ .RelPermalink }}" style="color: inherit;">
              {{ .Summary | markdownify }} &nbsp;<i class="fas fa-arrow-right" style="font-size:1.2em;"></i>
            </a>
            {{ if and $expiry (lt $expiry $today) }}
              <span style="color: red; font-weight: bold;">(expired)</span>
            {{ end }}
          </div>
        </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
